{#content}
	<a role="button" n:href="fireModal" class="btn"
   data-toggle="modal"
   data-target="#modal"
   data-backdrop="static">Show</a>

	{include APP_DIR.'/templates/_tools/modal.latte'}
{/#}

